{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Create Assessment</h1>

  <h2>Info:</h2>
  <div class="forms">
    <form action="" method="post" name="create_assessment">
      {{ form.hidden_tag() }}
      <p>Assessment Title: {{ form.assessment_title }}<br /></p>
      <p>Module Code: {{ form.module_code }}<br /></p>
      <p>Deadline Date: {{ form.deadline_date }}<br /></p>
      <p>Short Description: {{ form.short_description }}<br /></p>
      <p>Completion Status: {{ form.completion_status }}<br /></p>
      <p><input type="submit" value="Update" /></p>
    </form>
  </div>
</div>
{% endblock %}
